{{template "layout.html" .}}

{{define "content"}}
<main class="container mt-4">
    <div class="d-flex justify-content-between align-items-center mb-3">
        <h1>Manage Pricelist</h1>
        <button class="btn btn-primary" hx-get="/admin/prices/new" hx-target="#modal-content" data-bs-toggle="modal"
            data-bs-target="#main-modal">
            Add New pricelist position
        </button>
    </div>

    <table class="table table-striped table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Item Name</th>
                <th scope="col">Category</th>
                <th scope="col">Price</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody id="prices-table-body" style="counter-reset: row-num;">
            {{ range .Items }}
            {{ template "price-row.html" . }}
            {{ else }}
            <tr>
                <td colspan="5" class="text-center">No items found.</td>
            </tr>
            {{ end }}
        </tbody>
    </table>
</main>
{{end}}